#logo_1{
    height: 80px !important;
}
p{
    text-align: justify;
}
.cnt{
    text-align: center;
}
.lead{
    text-align: right;
}
.lead1{
    text-align: center;
}
/*
#23282d black
#fff
*/
.bg-white{
    background-color:#23282d ;
}
#site1{
    background-color: #fff;
}
ul.navbar-nav > li > a {
    color: #23282d !important;
}
.info-box-subtitle{
    color: #fff !important;
}
* {
    box-sizing: border-box;
}

#step {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0;
    text-align: center;
    display:table;
    width: 100%;
}

#step li {
    float: left;
    padding: 5px 45px 5px 45px;
    background:#f4bf0c;
    color: #fff;
    position: relative;
    width: 380px;
    margin: 0 10px;
    margin-left: -10px;
}


#step li:after {
    content: '';
    border-left: 55px solid #f4bf0c;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}
.bg2{
    background-color: #23282d ;
    margin: 0;
    float: left;
    display: flex;
}
#logo2{
    width: 200px;
    height: 100px;
    margin-bottom: 0px;
}
.btn-primary{
    background-color: #f4bf0c !important;
}
#double{
    color: #23282d;
}
#fontawsome{
    color: #f4bf0c;
    margin-right: 13px;
}
.top-info-box{
    display: flex;
    margin-left: 10px;
}
.header-right{
    margin-left: -70px;
}
#row1{
    display: flex;
    margin-left: -150px;
}
.pb-0{
    padding-bottom: 70px !important;
}
.lk{
    color: blue;
}
.fonts{
    text-align: center !important;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card4{
    height: 350px;
}